<% @event.comments.each do |comment| %>
  <p>
    <%= comment.user.name %>
    (<%= comment.date %>)
  </p>

  <p>
    <%= comment.text %>
  </p>

  <p>
    <%= link_to 'Edit', edit_event_comment_path(comment.event, comment) %>

    <%= link_to 'Delete', [comment.event, comment],
      method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
