<h3>New user</h3>

<%= form_for :user, url: users_path do |f| %>

  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@user.errors.count, "error") %> prohibited
      this post from being saved:</h4>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :birth_date %><br/>
    <%= f.text_field :birth_date %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
